var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#logger-console").prepend("<div class='panel panel-default'><div class='panel-heading'>worker: " + data.hostname + "</div><div class='panel-body'>" + data.body + "</div></div>");
  $("#logger-console").stop().animate({
    scrollTop: $('#logger-console')[0].scrollHeight
  }, 800);
};
